<nav class="navbar">
  <div class="container">
    <div class="row align-items-center text-nowrap">
      <img class="logo" src="assets/images/logo.png" />
      <div class="col title-text">The Team</div>
      <div class="col title-text">The Technology</div>
      <div class="col title-text">Stats</div>
      <div class="col title-text">Somthing Else</div>
    </div>
  </div>
</nav>

<div @fade class="align-items-center text-nowrap pt-5 under-navbar">
  <p class="list-item"><span class="alter-text">346</span> People.</p>
  <p class="list-item"><span class="alter-text">$850</span> Million Dollars.</p>
  <p class="list-item"><span class="alter-text">1</span> Mission.</p>
  <p class="list-item"><br /></p>
  <p class="list-item">This is <span class="alter-text">Psyche.</span></p>
</div>
