.under-navbar {
  font-size: 82px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #a5425e;

  .alter-text {
    color: #fc9e08;
  }
}

.card {
  position: fixed;
}

.cdk-focused {
  outline: unset;
}

.in-col-text {
  font-size: 40px;
  margin-top: 5rem;
}

.list-item {
  padding-top: 1rem;
}
