<nav class="navbar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col navbar-brand">
        <img class="logo" src="assets/images/logo.png" />
      </div>
      <button mat-button class="col title-text navbar-text">The Team</button>
      <button mat-button class="col title-text navbar-text">
        The Technology
      </button>
      <button mat-button class="col title-text navbar-text">Stats</button>
      <button mat-button class="col title-text navbar-text">
        Something Else
      </button>
    </div>
  </div>
</nav>

<div *ngIf="alreadyPlaying" @fade class="align-items-center pt-5 under-navbar">
  <p class="list-item"><span class="alter-text">346</span> People.</p>
  <p class="list-item"><span class="alter-text">$850</span> Million Dollars.</p>
  <p class="list-item"><span class="alter-text">1</span> Mission.</p>
  <p class="list-item"><br /></p>
  <p class="list-item">This is <span class="alter-text">Psyche.</span></p>
</div>
