
.under-navbar {
  font-size: 82px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #a5425e;

  .alter-text {
    color: #FC9E08;
  }
}

.card {
  position: fixed;
}

.cdk-focused {
  outline: unset;
}