<app-navbar-component></app-navbar-component>

<div *ngIf="alreadyPlaying" @fade class="align-items-center pt-5 under-navbar">
  <p class="list-item"><span class="alter-text">346</span> People.</p>
  <p class="list-item"><span class="alter-text">$850</span> Million Dollars.</p>
  <p class="list-item"><span class="alter-text">1</span> Mission.</p>
  <p class="list-item"><br /></p>
  <p class="list-item">This is <span class="alter-text">Psyche.</span></p>
  <p class="list-item">
    <iframe
      src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FVisualizationMissionCapstone%2Fposts%2F104665488388221&width=750&show_text=true&height=412&appId"
      width="750"
      height="412"
      style="border: none; overflow: hidden"
      scrolling="no"
      frameborder="0"
      allowfullscreen="true"
      allow="autoplay; clipboard-write; encrypted-media; web-share"
    ></iframe>
  </p>
</div>
