.page {
  background-color: black;
  min-height: 100vh;
  background-image: url("../../../../assets/images/lp_bg.png");
}

.logo {
  width: 160px;
  height: 160px;
}

.psyche-button {
  width: auto;
}

.disclaimer {
  color: yellow;
}

.white-lg {
  color: #f2f2f2;
  font-size: 55px;
  font-weight: 400;
  line-height: normal;
  z-index: 999;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  // This may won't work on IE browser.
  -webkit-font-smoothing: antialiased;
}

.white-md {
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  z-index: 999;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  // This may won't work on IE browser.
  -webkit-font-smoothing: antialiased;
}

.marked-text {
  color: rgb(240, 90, 102);
}

.mat-raised-button {
  background-color: rgb(240, 90, 102);
  color: white;
  font-size: 36px;
  font-weight: 300;
  height: 4rem;
}

::ng-deep .mat-checkbox-inner-container {
  background-color: white !important;
}

.interaction {
  margin-top: 15rem;
}

@media (max-width: 550px) {
  .psyche-button {
    width: 250px;
    font-size: 25px;
  }
}