<div class="page">
  <div class="align-items-center">
    <app-navbar-component></app-navbar-component>
    <img class="logo" src="assets/images/logo2.png" />
    <div class="white-lg stroke mt-5">
      Welcome to NASA <span class="marked-text"> Psyche</span>
    </div>
    <div class="white-md stroke">
      Visualizing Mission <span class="marked-text">Teams</span> and
      <span class="marked-text">Technologies</span>
    </div>
    <div class="interaction">
      <div class="p-2">
        <button
          class="psyche-button"
          mat-raised-button
          (click)="goToMainPage()"
        >
          Learn About Psyche
        </button>
      </div>
      <div class="disclaimer btn-link">
        <a (click)="disclaimerClick()">Disclaimer</a>
      </div>
    </div>
  </div>
  <br />
  <footer class="text-dark stroke overflow-auto text-center footer">
    
  </footer>
</div>
